body {
    margin: 0;
    overscroll-behavior: none;
}

.header {
    background-image: url('../images/MeSeeks/banner.jpg');
    background-size: cover;
    background-position-y: 30%;
    height: 20vh;
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.493);
}

.banner {
    height: 50%;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 1%;
    border-radius: 50%;
    box-shadow: 6px 6px 13px 6px rgba(100, 251, 13, 0.993);
}

.display {
    display: flex;
    height: 80vh;
    width: 100vw;
    background-image: url('../images/MeSeeksBackground.jpg');
    background-size: cover;
    background-position: bottom;
    background-position-y: 70%;
}

.aside {
    text-align: center;
    padding-top: 1%;
    width: 20%;
}

.stats {
    background-color: cadetblue;
    display: flex;
    height: 100%;
    margin: 2% 5%;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 2px rgba(251, 34, 14, 0.465);
    border: 2px solid rgba(255, 255, 255, 0.86);
    border-radius: 14px;
}

.label {
    font-size: 2em;
    font-family: Comic Sans MS;
    overflow: hidden;
}

#gamesPlayed, #attempts, #accuracy {
    font-size: 2rem;
    font-family: Comic Sans MS;
}

.main {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.secondary_container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin: 4% 0%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.card {
    height: 29%;
    width: 14%;
    margin: 1% 0% 0% 1%;
    position: relative;
    cursor: pointer;
}

.back-card {
    background-color: cadetblue;
    background-image: url('../images/portalCard.gif');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 2px 2px 3px 2px rgba(255, 21, 0, 0.465);
    border: 2px solid rgba(28, 110, 164, 0.86);
    border-radius: 14px;
}

.front {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 3px 2px rgba(251, 34, 14, 0.465);
    border: 2px solid rgba(255, 255, 255, 0.86);
    border-radius: 14px;
}

.hidden {
    display: none;
}

.disappear {
    visibility: hidden;
}

.modal {
    background-image: url('../images/victory.jpg');
    border-radius: 30%;
    background-size: cover;
    background-position-y: 20%;
    box-shadow: 0 0 100px rgba(100, 251, 13, 0.993);
    border: 5px solid rgba(28, 110, 164, 0.86);
    height: 50%;
    width: 50%;
    top: 25%;
    left: 20%;
    position: absolute;
    z-index: 99;
}

.retry {
    padding: 1vw;
}

.retry-container {
    top: 5%;
    left: 38%;
    position: absolute;
    background-color: cadetblue;
    box-shadow: 0 0 100px rgba(100, 251, 13, 0.993);
    border: 5px solid rgba(28, 110, 164, 0.86);
    border-radius: 50%;
    font-size: 2rem;
    z-index: 99;
    font-family: Comic Sans MS;
    cursor: pointer;
}

@media (max-width: 875px) {
    .label {
        font-size: 1.5rem;
    }
    .main {
        overflow: scroll;
    }
    #gamesPlayed, #attempts, #accuracy {
        font-size: 1.5rem;
        font-family: Comic Sans MS;
        line-height: 40px;
    }
    .row {
        margin-left: 3%;
        margin-top: 2%;
    }
    .card {
        height: 27%;
        margin: 1% 1%;
    }
    .aside {
        width: 25%;
    }
    .retry{
        top: 6%;
        left: 36%;
    }
    .modal {
        top: 37%;
    }
}

@media (max-height: 770px) {
    .label {
        font-size: 1.6rem;
    }
}

@media (max-height: 620px) {
    .label {
        font-size: 1rem;
    }
    #gamesPlayed, #attempts, #accuracy {
        font-size: 1.5rem;
        font-family: Comic Sans MS;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    body {
        width: 100vw;
    }
    .display {
        display: inline-block;
    }
    .secondary_container {
        display: inline-block;
        margin: 0;
    }
    .card {
        width: 30%;
        height: 14%;
        margin: 1%;
    }
    .stats {
        vertical-align: top;
        display: inline-block;
        height: 40px;
        width: 40%;
        margin: 1% 1%;
    }
    .aside {
        width: 100%;
        padding: 0;
    }
    .label {
        font-size: 1.5em;
        font-family: Comic Sans MS;
    }
    .main {
        width: 100%;
        height: 70%;
        overflow: scroll;
    }
    .modal {
        width: 80%;
        left: 8%;
    }
    .banner {
        width: 70%;
        left: 29%;
    }
}
