body {
    margin: 0;
}

.header {
    background-image: url('../images/MeSeeks/banner.jpg');
    background-size: cover;
    background-position: center center;
    height: 20vh;
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.493);
}

.banner {
    height: 30%;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 1%;
    border-radius: 50%;
    box-shadow: 6px 6px 13px 6px rgba(100, 251, 13, 0.993);
}

.display {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.aside {
    background-color: red;
    width:20%;
    text-align: center;
    padding-top: 1%;
}

.stats {
    background-color: cadetblue;
    display: block;
    height: 100%;
    margin: 2% 5%;
    align-content: center;
}

.main {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center center;
    width: 80%;
    height:100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.secondary_container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin: 4% 0%;
}

.row {
    display: flex;
    margin: 2% 0%;
    height: 100%;
}

.card {
    height: 100%;
    width: 100%;
    margin: 0% 2%;
    position: relative;
}

.back-card {
    background-image: url('../images/lfz-card.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 2px 2px 3px 2px rgba(255, 21, 0, 0.465);
    border: 2px groove rgba(28,110,164,0.86);
    border-radius: 14px;
}

.meeSeeks1 {
    background-image: url('../images/MeSeeks/MeeSeeks1.jpg');
}
.meeSeeks2 {
    background-image: url('../images/MeSeeks/MeeSeeks2.png');
}
.meeSeeks3 {
    background-image: url('../images/MeSeeks/MeeSeeks3.png');
}
.meeSeeks4 {
    background-image: url('../images/MeSeeks/MeeSeeks4.png');
}
.meeSeeks5 {
    background-image: url('../images/MeSeeks/MeeSeeks5.png');
}
.meeSeeks6 {
    background-image: url('../images/MeSeeks/MeeSeeks6.png');
}
.meeSeeks7 {
    background-image: url('../images/MeSeeks/MeeSeeks7.png');
}
.meeSeeks8 {
    background-image: url('../images/MeSeeks/MeeSeeks8.png');
}

.meeSeeks9 {
    background-image: url('../images/MeSeeks/MeeSeeks9.png');
}

.meeSeeks1, .meeSeeks2, .meeSeeks3, .meeSeeks4, .meeSeeks5, .meeSeeks6, .meeSeeks7, .meeSeeks8, .meeSeeks9 {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 3px 2px rgba(251, 34, 14, 0.465);
    border: 2px groove rgba(255, 255, 255, 0.86);
    border-radius: 14px;
}

.hidden {
    display: none;
}

.disappear {
    visibility: hidden;
}

.modal {
    background-image: url('../images/victory.jpg');
    border-radius: 30%;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 100px rgba(100, 251, 13, 0.993);
    height: 50%;
    width: 50%;
    top: 20%;
    left: 20%;
    position: absolute;
    z-index: 99;
}
