body {
    margin: auto;
}

.header {
    background-color: blue;
    height: 20vh;
    width: 100%;
}

.display {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.aside {
    background-color: red;
    width:20%;
}

.stats {
    background-color: cadetblue;
    display: block;
    height: 100%;
    margin: 2% 5%;
}

.main {
    background-color: green;
    width: 80%;
    height:100%;
}

.container {
    background-color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.secondary_container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin: 8% 0%;
}

.row {
    display: flex;
    margin: 2% 0%;
    height: 100%;
}

.card {
    background-color: cadetblue;
    height: 100%;
    width: 100%;
    margin: 0% 2%;
    position: relative;
}

.back-card {
    background-image: url('../images/lfz-card.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.meeSeeks1 {
    background-image: url('../images/MeSeeks/MeeSeeks1.jpg');
}
.meeSeeks2 {
    background-image: url('../images/MeSeeks/MeeSeeks2.png');
}
.meeSeeks3 {
    background-image: url('../images/MeSeeks/MeeSeeks3.png');
}
.meeSeeks4 {
    background-image: url('../images/MeSeeks/MeeSeeks4.png');
}
.meeSeeks5 {
    background-image: url('../images/MeSeeks/MeeSeeks5.png');
}
.meeSeeks6 {
    background-image: url('../images/MeSeeks/MeeSeeks6.png');
}
.meeSeeks7 {
    background-image: url('../images/MeSeeks/MeeSeeks7.png');
}
.meeSeeks8 {
    background-image: url('../images/MeSeeks/MeeSeeks8.png');
}

.meeSeeks9 {
    background-image: url('../images/MeSeeks/MeeSeeks9.png');
}

.meeSeeks1, .meeSeeks2, .meeSeeks3, .meeSeeks4, .meeSeeks5, .meeSeeks6, .meeSeeks7, .meeSeeks8, .meeSeeks9 {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}
